
.hidden_view
{
	opacity: 0 !important;
     transition: opacity 2s ease-in-out !important;
}
.hidden_view.visible
{
	opacity: 1 !important;
}

.scroll_effect
{
	opacity: 0 !important;
    transform: translate3d(0px, 50px, 0px) !important;
}
.scroll_effect.visible
{
	opacity: 1 !important;
    transform: translate3d(0px, 0px, 0px) !important;
}
.scroll_effect.visible:not(.in-view)
{
	opacity: 1 !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.header_hover
{
}
.header_hover label:hover
{
	background-color: rgba(2,32,71,.05) !important;
}

.a_hover
{
}
.a_hover [data-group="a"]
{
	cursor: pointer !important;
}
.a_hover [data-group="a"]:hover
{
	text-decoration : underline !important;
}

.blue_btn_hover
{
	transition: background .2s ease,color .1s ease !important;
}
.blue_btn_hover:hover
{
	background-color: #1b64da !important;
}

.icon_hover
{
	cursor: pointer !important;
}
.icon_hover div:hover > img
{
	opacity: 1 !important;
}

.store_btn_hover
{
	transition: background .2s ease,color .1s ease !important;
}
.store_btn_hover:hover
{
	background-color: rgb(78, 89, 104) !important;
    color: rgb(255, 255, 255) !important;
}

.section_effect
{
	opacity: 0 !important;
    transform: translatey(50px) !important;
	transition: opacity 1s ease, transform 1s ease !important;
}
.section_effect.on
{
	opacity: 1 !important;
    transform: translatey(0) !important;
}

